<template>
    <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
 <div class="panel panel-info block4" style="margin-top: 25px;">
                            <div class="panel-heading"> Add School
                                <div class="pull-right"><a href="javascript:void(0)" data-perform="panel-collapse"><i class="ti-plus"></i></a> </div>
                            </div>
                            <div class="panel-wrapper collapse" aria-expanded="false">
                                <div class="panel-body" align="center" >
 <div class="col-lg-10">
                        <div class="white-box" style="text-align: center;">
                            <h1 class="box-title m-b-0 " style="font-weight: bold;" > Registeration</h1>
                            <p class="text-muted m-b-30 font-13"> Registeration Form </p>
                           
                            <form class="form-horizontal" v-on:submit="addSchoolRecord">
                                <div class="form-group">
                                    <label for="school_Name" class="col-sm-3 control-label">School Name*</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" v-model="newRecord.school_name" name="school_name" placeholder="Enter School Name" required> </div>
                                </div>
                                 <div class="form-group">
                                    <label for="school_Address" class="col-sm-3 control-label">Address*</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" v-model="newRecord.address" name="address" placeholder="Enter Address" required> </div>
                                </div>
                                <div class="form-group">
                                    <label for="school_Campus" class="col-sm-3 control-label">School Campus*</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" v-model="newRecord.campus" name="campus" placeholder="Enter School Campus" required> </div>
                                </div>
                               
                               
                                <div class="form-group">
                                    <label for="school_Description" class="col-sm-3 control-label">Description*</label>
                                    <div class="col-sm-9">
                                        <textarea v-model="newRecord.description" name="description" class="form-control" rows="4" placeholder="Enter Description" required></textarea> </div>
                                </div>
                            
                                <div class="form-group m-b-0">
                                    <div class="col-sm-offset-1 col-sm-10">
                                        <button class="btn btn-info waves-effect waves-light m-t-10" v-if="this.edit==0">Add</button>
                                        <button class="btn btn-success waves-effect waves-light m-t-10" v-else-if="this.edit==1">Save Editing</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                                </div>
                            </div>
                        </div>
                        
</div>


 
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title m-b-0" style="text-align: center">School</h3>
                            <p class="text-muted m-b-30" style="text-align: center">School Records</p>
                            <div class="table-responsive">
                                <table id="schoolTable" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>School Name</th>
                                            <th>Address</th>
                                            <th>Campus</th>
                                            <th>Description</th>
                                            <th>Actions</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(record, index) in records">
                                            <td>{{record.school_name}}</td>
                                            <td>{{record.address}}</td>
                                            <td>{{record.campus}}</td>
                                            
                                            
                                            <td>{{record.description}}</td>
                                            <td>Edit</td>
                                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
</template>

<script>
    export default {
       
         data(){
            return{
                Editedindex:-1,
                edit:0,
                newRecord:{},
                records:[{
                    
                }],
            }
        },
        mounted() {
             console.log('Component mounted.');
           
        },
        created(){
            console.log("getting record");
            axios.get('/getSchoolRecord').then(response=>{
                this.records =response.data;
                console.log(records);
            });
        },
        methods:{

            addSchoolRecord:function(e){
                 e.preventDefault();
                if(this.edit==0){
                    // console.log(this.recordsend);
                        axios.post('/addSchoolRecord',this.newRecord).then(response => {
                            alert(response.data.school_name);
                                this.records.unshift({
                                    
                                    school_name:response.data.school_name,
                                    address:response.data.address,
                                    campus : response.data.campus,

                                    
                                    description:response.data.description,
                                });
                        });
                        this.newRecord={
                            id:'',
                             school_name:'',
                             campus:'',
                             address:'',
                            description:''
                        };

                }
                else{  
                   
                   
                    axios.post('/editStateRecord',this.newRecord).then(response => {
                            if(response.data==1){
                                var ei=this.Editedindex;
                            //alert(this.records[ei].companyName);
                                this.records[ei].country_name=this.newRecord.country_name;
                                this.records[ei].country_code=this.newRecord.country_code;
                                this.records[ei].country_phone_code=this.newRecord.country_phone_code;
                                this.records[ei].description=this.newRecord.description;
                                this.edit=0;
                                this.Editedindex=-1;

                                this.newRecord={
                                    id:'',
                                    country_name:'',
                                    country_code:'',
                                    country_phone_code:'',
                                    description:''
                                };
                            }


                        });

                        
                        
                }
                               // this.recordsend.splice(1);
                // console.log(this.records);
            }
        }

    }
</script>